<nav class="sb-topnav navbar navbar-expand-lg navbar-dark bg-dark" *ngIf="authUser">
  <div class="container-fluid">
    <div class="col-5 col-sm-5 col-md-5 col-lg-5">
      <a href="#" class="navbar-brand">Quiz Portal</a>

    </div>
    <!-- <div class="col-1 col-sm-4 col-md-4 col-lg-4"></div> -->
    <div class="col-6 col-sm-3 col-md-3 col-lg-3">
      <button class="navbar-toggler float-right" id="sidebarToggle">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </div>
</nav>