.container {
    width: 100%;
    text-align: center;
    margin-top: 40px;
}

.form-group{
    margin-bottom:25px;
}

.form-group input{
    height: 42px;
    border-radius:5px;
    border:0;
    font-size: 18px;
}

.form-input button{
    width:40%;
    margin: 5px 0px 25px;
}

.btn-primary {
    background-color : #006766;
    font-size : 19px;
    border-radius : 5px;
    padding: 7px 14px;
    border: 1px solid black;
    margin-top: 40px;
}

.btn-primary:hover {
    background-color: #13445e;
}