.main-section{
    margin:0 auto;
    margin-top: 90px;
    padding: 0;
}

.modal-content{
    background-color: #434e5a;
    opacity: 0.8;
    padding: 0 18px;
    border-radius: 10px;
}

.user-img img {
    height: 70px;
    width: 70px;
}
.user-img{
    margin-top: -35px ;
    margin-bottom: 45px;
}

.form-group{
    margin-bottom:25px;
}

.form-group input{
    height: 42px;
    border-radius:5px;
    border:0;
    font-size: 18px;
}

.form-input button{
    width:40%;
    margin: 5px 0px 25px;
}

.btn-primary {
    background-color : #1c6288;
    font-size : 19px;
    border-radius : 5px;
    padding: 7px 14px;
    border: 1px solid #daf1ff;
}

.btn-primary:hover {
    background-color: #13445e;
}

.forgot {
    margin : 5px 0 25px;
}

.forgot a{
    color:#daf1ff;
}

.errorMessage{
    margin-top: 5px;
    margin-bottom: 0px;
    width:100%;
}

.alert-success{
    color: #c3e6cb;
    background-color: #155724;
    border-color: #155724;
}
.alert-danger{
    color: #ffb6bd;
    background-color: #c5404c;
    border-color: #c5404c;
}
.customCss {
    display:block;
    width:100%;
}
.register{
    margin-top: 1rem;
    color: #daf1ff;
}
/* #707070 */