.container {
    background-color: #617f8d;
    width: 80%;
    margin: auto;
    height: 90vh;
    overflow: overlay;
}

.container::-webkit-scrollbar
{
  width: 12px;
}
.container::-webkit-scrollbar-track
{
  background-color:  #76919e;
}

.container::-webkit-scrollbar-thumb
{
  background-color:#343a40;
  border-radius: 5px;
  cursor: pointer;
 }

